.searchbar {
  flex: 100%;
  width: 100%;
  position: relative;

  & form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
  }

  & label {
    font-weight: 600;
  }

  & input[type='text'] {
    height: 2rem;
    font-size: 16px;
    padding: 1rem;
    padding-left: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 2.5px 2.5px rgba(black, 0.1);
    border-radius: var(--border-radius);

    &:focus {
      font-size: 16px;
    }
  }
  margin-bottom: 1rem;

  &__icon {
    align-self: flex-end;
    margin-top: -2rem;
    margin-right: 0.5rem;
    cursor: pointer;

    & svg {
      transform: translateY(8px);
    }
  }

  &__error {
    width: 100%;
    height: 2rem;
    color: var(--error-red);
    padding-top: 6px;
  }

  &__dropdown {
    position: absolute;
    border-radius: var(--border-radius);
    bottom: 0;
    background-color: white;
    border-left: 1px solid var(--main-grey);
    box-shadow: 10px 5px 5px rgba(black, 0.2);
    margin-top: -1.5rem;
    left: 50%;
    top: 100%;
    width: 100%;
    max-width: 1000px;
    transform: translateX(-50%);
    vertical-align: bottom;
    height: 550px;
    z-index: 1000;
  }
  @media only screen and (max-width: 600px) {
    & {
      padding: 0 1rem;

      &__icon {
        svg {
          transform: translateY(10px);
        }
      }

      &__dropdown {
        width: calc(100% - 2rem);
      }
    }
  }
}
