@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right,
    var(--main-bg-color),
    var(--main-white)
  );
  animation-name: fadeInAnimation;
  animation-duration: 0.5s;
}

button {
  background-color: var(--main-black);
  color: var(--main-white);
  padding: 0.5rem;
  font-family: inherit;
  letter-spacing: 1px;
  align-self: center;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  color: var(--main-black);
  background-color: var(--main-white);
  transition: 0.2s;
}

a {
  text-decoration: none;
  color: var(--main-black);
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
