.searchbar {
  flex: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;

  & form {
    display: flex;
    flex-direction: column;
  }

  & label {
    font-weight: 800;
  }

  & input[type='text'] {
    height: 2rem;
    font-size: 16px;
    padding: 1rem;
    padding-left: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 2.5px 2.5px rgba(black, 0.1);
    border-radius: var(--border-radius);

    &:focus {
      font-size: 16px;
    }
  }
  margin-bottom: 2rem;

  &__icon {
    position: absolute;
    right: 2.5%;
    top: 50%;
    cursor: pointer;
  }

  &__error {
    position: absolute;
    color: red;
  }
  @media only screen and (max-width: 600px) {
    & {
      padding: 0 1rem;
    }

    &__icon {
      right: 5%;
      top: 37%;
      height: 1.5rem;
    }
  }
}

.poster {
  max-width: 800px;
  display: flex;
  margin: 0 auto;
  flex: 75%;
  flex-wrap: wrap;
  height: 50%;
  justify-content: space-evenly;
  box-shadow: 10px 5px 5px rgba(black, 0.2);
  padding: 2rem;
  text-align: center;
  background-color: var(--main-white);
  margin-bottom: 1rem;
  border-top: 1px solid rgba(black, 0.2);
  border-left: 1px solid rgba(black, 0.2);
  position: relative;
  border-radius: var(--border-radius);
  animation-name: fadeInAnimation;
  animation-duration: 0.5s;

  &__text {
    padding: 0 2rem;
    flex: 50%;
    position: relative;
    // font-size: clamp(1rem, 1.5vw, 1.5rem);

    & > * {
      padding: 1rem 0;
    }
  }

  &__title {
    letter-spacing: 2px;
    flex: 100%;
  }

  &__cast {
    font-size: 1rem;
  }

  &__rating {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(231, 231, 231);
    font-size: 0.75rem;
    border-radius: 20px;
    max-width: 45%;
    min-width: 150px;
    margin: 0 auto;
    padding: 0;
    // white-space: nowrap;
  }

  &__image {
    & img {
      object-fit: cover;
      width: 300px;
      height: 450px;
      border-radius: var(--border-radius);
    }
  }

  &__messages {
    position: relative;
  }

  &__message {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%);
    transition: 0.2s;
    opacity: 0;

    &--active {
      opacity: 1;
    }
  }

  &__button {
    width: 50%;
    position: absolute;
    bottom: 6%;
    left: 0;
    transform: translate(50%, 50%);
    z-index: 500;
  }

  @media only screen and (max-width: 600px) {
    & {
      padding: 1rem;
      flex-direction: column;
      box-shadow: 2px 2px 2px rgba(black, 0.2);
      flex-wrap: nowrap;
    }

    &__text {
      flex: 100%;
      padding: 0.25rem 0;

      & > * {
        padding: 0;
      }
    }

    &__title {
      font-size: 1.35rem;
    }

    &__director {
      font-size: 1rem;
    }

    &__cast {
      margin-top: 0.5rem;
      font-size: 0.9rem;
    }

    &__rating {
      margin-top: 0.75rem;
      padding: 0.25rem;
    }

    &__year {
      margin-top: 0.5rem;
    }

    &__button {
      position: relative;
      width: 100%;
      height: 3.5rem;
      margin-top: 2rem;
      transform: none;
      font-size: 1.25rem;
    }

    &__image {
      flex: 100%;
      & img {
        width: 100%;
        height: auto;
      }
    }
    // &__error {
    //   width: 100%;
    //   bottom: 25%;
    // }
  }
}

.movie-list {
  max-width: 1000px;
  margin: 0 auto;
  flex: 25%;
  padding-left: 2rem;
  height: 50%;
  position: relative;

  &--submitted {
    & button {
      background-color: rgba(grey, 0.5);
      color: rgba(grey, 0.5);
      border: grey;
      pointer-events: none;
    }
  }

  &__title {
    font-size: 0.9rem;
  }

  &__secondary-title {
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
  }

  &__button {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 0.75rem;
    // margin-top: 20px;
  }
  @media only screen and (max-width: 600px) {
    & {
      margin-bottom: 5rem;
      padding: 0 1rem;
    }

    &__button {
      margin-top: 2rem;
      width: 100%;
      height: 4rem;
      font-size: 1.25rem;
    }
  }

  // @media only screen and (max-width: 1152px) {
  //   &__button {
  //     width: 50%;
  //   }
  // }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  animation-name: fadeInAnimation;
  animation-duration: 0.5s;

  &:nth-child(-n + 6) {
    border-bottom: 1px solid grey;
  }

  &__header {
    display: flex;
    align-items: center;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      color: grey;
    }

    & > * {
      padding: 0 0.25rem;
    }
  }

  &__title {
    font-size: 1rem;
    padding-right: 2rem;
  }

  &__image {
    & img {
      object-fit: cover;
      width: 36px;
      height: 60px;
      border-radius: var(--border-radius);
    }
  }

  &__button {
    color: var(--main-black);
    background-color: var(--main-white);
    border: 2px solid var(--main-black);
    font-weight: 800;

    &:active,
    &:hover {
      color: white;
      background-color: var(--main-black);
    }
  }
}

.cta {
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;

  &__bigtext {
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    line-height: 1;
    color: var(--main-purple);
    text-shadow: 2px 2px 4px rgba(black, 0.2);
  }

  &__medtext {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 600;
  }

  &__medtext-secondary {
    font-size: 1rem;
    text-transform: lowercase;
  }

  &__smalltext {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  &__button {
    margin-top: 3rem;
    width: 50%;
    height: 3rem;
  }

  @media only screen and (max-width: 600px) {
    & {
      margin-top: 5rem;
    }

    &__bigtext {
      font-size: 3rem;
    }

    &__medtext {
      font-size: 1.25rem;
    }

    &__smalltext {
      font-size: 1.25rem;
      max-width: 350px;
    }

    &__button {
      width: 50%;
    }
  }
}
