:root {
  --main-black: #2b2b2b;
  --secondary-black: #000000;
  --main-bg-color: #fffafa;
  --secondary-bg-color: #fffffd;
  --main-white: #f7f7f7;
  --main-purple: #4a00a9;
  --main-grey: #aaaaaa;
  --border-radius: 10px;
  --logo-color-1: #f58326;
  --logo-color-2: #d63f3f;
  --logo-color-3: #626d00;
}
